name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: packages/code-storage-go/go.mod

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - run: pnpm install

      - uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true

      - run: moon :test
